<article id="123" class="article">
    <header>
        <span>Creation date: </span>
        <time datetime="2013-04-01">2013-04-01</time>
        <div class="article-controls pull-right">
            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </header>
    <main>
        <h2>....</h2>
        <p>.......</p>
    </main>
    <footer class="clearfix">
        <div class="pull-left">
            <span class="glyphicon glyphicon-user overflow"></span>
            Author: <br> Mark Bondarenko
        </div>
        <button class="btn btn-default pull-right view-btn overflow" type="button">View Details >></button>
    </footer>
</article>