<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap task</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Project name</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-hover">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-hover">
                    <li><a href="signIn.html">Sign In</a></li>
                    <li><a href="signUp.html">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div id="view-article-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">NEW ARTICLE</h3>
                </div>
                <div class="modal-body">
                    <h5>Title</h5>
                    <input id="article-title" type="text" class="form-control" placeholder="Title">
                    <h5>Content</h5>
                    <textarea id="article-content" class="form-control" rows="6" placeholder="Content"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="articleCtrl.saveArticle()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <header class="header">
        <div class="jumbotron">
            <div class="container">
                <h1>Article</h1>
                <p>
                    This is a simple hero unit, a simple jumbotron-style component for <br>
                    calling extra attention to featured content or information.
                </p>
                <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#view-article-modal">
                    New Arcticle 
                    <span class="glyphicon glyphicon-menu-right"></span>
                </a>
                <a href="#" class="btn btn-primary btn-lg" onclick="setColCountInOneRow(2)">
                    <span class="glyphicon glyphicon-th-large"></span>
                </a>
                <a href="#" class="btn btn-primary btn-lg" onclick="setColCountInOneRow(3)">
                    <span class="glyphicon glyphicon-th"></span>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div id="article-container"></div>
        </div>
    </main>
    <!-- TEMPLATES -->
    <script id="articleTemplate" type="text/x-lodash-template">
        <article id="<%= id %>" class="article">
            <header>
                <span>Creation date: </span>
                <time><%= getCreationDate() %></time>
                <div class="article-controls pull-right">
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </header>
            <main>
                <h2><%= title %></h2>
                <p><%= content %></p>
            </main>
            <footer class="clearfix">
                <div class="pull-left">
                    <span class="glyphicon glyphicon-user overflow"></span>
                    Author: <br> <%= author.getFullName() %>
                </div>
                <button class="btn btn-default pull-right view-btn overflow" type="button">View Details >></button>
            </footer>
        </article>
    </script>

    <!-- common libs -->
    <script src="../resources/js/lodash.js"></script>
    <script src="../resources/js/jquery.js"></script>
    <script src="../resources/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../resources/js/utils.js"></script>
    <script type="text/javascript" src="../models/db.js"></script>
    <!-- end common libs -->
    <script type="text/javascript" src="../controllers/articleController.js"></script>
    <script type="text/javascript" src="../models/userModel.js"></script>
    <script type="text/javascript" src="../models/articleModel.js"></script>
    <script type="text/javascript" src="../views/articleView.js"></script>
    <script type="text/javascript" src="../views/gridView.js"></script>
    <script type="text/javascript" src="../app.js"></script>
</body>
</html>